.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .selections {
      grid-row: 1;
      grid-column: 1/-1;
      display: flex;
      justify-content: space-around;
  }

  .output {
    grid-row: 2;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

  .destination {
    height: 200px;
  }