.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .grid-item2 {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .grid-item3 {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  .grid-item4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .destination {
    height: 200px;
  }

/*OLD CSS BELOW*/

.PixBox-title {
    font-family: "Comic Sans MS", sans-serif;
}
.PixBox-button {
    appearance: none;
    border: none;
    width: 100px;
    background-color: orange;
    border-radius: 25%;
    border: 2px solid black;
}
.PixBox-input {
    appearance: none;
    border: none;
    border-radius: 5px;
    width: 50%;
}
.PixBox-display {
    width: 30%;
    height: 2rem;
    font-size: 1.5rem;
    background-color: white;
}
.PixBox-container {
    display: flex;
    flex-direction: column;
    border: 1px dashed purple;
    background-color: skyblue;
    align-items: center;
}

.PixBox-container section {
    display: flex;
    justify-content: space-around;
}